
extends baseEmail

block content
  h1 Password Reset Request
  p Hi #{firstName},
  p You requested a password reset for your Fifthlab account.
  p Click the button below to reset your password (link valid for 10 minutes):
  p
    a.btn(href= "https://msg-app-5mwq.vercel.app/") Reset Password
  p If the button doesn't work, copy and paste this link:
  a(href= "https://msg-app-5mwq.vercel.app/")= "https://msg-app-5mwq.vercel.app/
  p If you didn't request a password reset, please ignore this email.